################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Coding.Challenges/obj
/Coding.Challenges/bin
/Coding.Challenges.Tests/obj
/Coding.Challenges.Tests/bin
