name: Repository metrics

on: workflow_dispatch

jobs:
  build-test-metrics:

    runs-on: windows-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
          
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --no-restore
    
    - name: Test
      run: dotnet test 
        --no-build 
        --verbosity normal 
        --collect:"XPlat Code Coverage" 
        --logger "trx;LogFileName=test-results.trx"    
  
    - name: Publish test report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Unit Tests
        path: "**/test-results.trx"                             
        reporter: dotnet-trx

    - name: Upload Codecov coverage report
      uses: codecov/codecov-action@v5.5.1
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
