name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.3.0
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --no-restore
    
    - name: Test
      run: dotnet test 
        --no-build 
        --verbosity normal 
        --collect:"XPlat Code Coverage" 
        --logger "trx;LogFileName=test-results.trx"    
  
    - name: Publish test report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Unit Tests
        path: "**/test-results.trx"                             
        reporter: dotnet-trx

    # - name: Upload coverage report to Codacy
    #   uses: codacy/codacy-coverage-reporter-action@v1
    #   with:
    #     project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
    #     coverage-reports: "**/*coverage.cobertura.xml"
